{
  "presets": ["next/babel"],
  "plugins": [
    [
        "module-resolver",
        {
            "root": ["."],
            "alias": {
                "@utils": "./src/components/utils",
                "@components": "./src/components",
                "@theme": "./src/theme"
            }
        }
    ]
  ]
}
